.head {
  h1, h2, h3, p {
    font-family: 'IBM Plex Mono', monospace !important;
  }
  .head-background {
    width: 100%;
    height: 25rem;
    background-image: url(https://static.vecteezy.com/system/resources/previews/000/155/103/non_2x/vector-grunge-danger-caution-background.jpg);
    background-size: cover;
  }

  .head-content-flex {
    background-color: rgba(44, 62, 80, 0.8);
    width: 100%;
    height: 25rem;
    margin-top: -25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFF;
    .head-content-content{
      padding-top: 5em;
      padding-bottom: 5em;
      padding-right: 2em;
      padding-left: 2em;
    }
    .head-title h1 {
      font-size: 4rem;
      font-weight: 700;
    }
    .head-description p {
      font-weight: lighter;
      font-size: 1.2em;
    }
  }
}
